<h1>Editing timeday</h1>

<%= render 'form' %>

<%= link_to 'Show', @timeday %> |
<%= link_to 'Back', timedays_path %>
<%= link_to 'Vedi', controller: "timedays", action: "index", foglio: @timeday.timesheet_id %>
